@media only screen and (min-width: 1200px){
    .card-contain{
        width: 75%;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .card{
        margin: 2vh;
        width: 25rem;
    }

    .card-text{
        font-size: large;
    }

    .card button{
        padding: 1vh;
        margin: 1vh;
    }

    .card img{
        padding-top: 2vh;
        width: 350px;
        height: 350px;
        margin:auto;
    }

}

@media screen and (max-width:767px){

    .card-contain{
        width: 90%;
        padding: 30px;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .card{
        margin: 2vh;
        width: 25rem;
    }

    .card-text{
        font-size: large;
        padding-bottom: 20px;
    }

}